---
title: Brightcove Playerのドキュメント
parent: null
---
<article class="bcls-article">
  <h1>Brightcove Playerのドキュメント</h1>
  <p>
    Brightcove Playerの開発により、プレーヤーをカスタマイズ、統合、または機能を追加できます。開発ツールは、プレーヤーAPIであり、HTML5、CSS、JavaScriptの標準的なウェブ技術です。
  </p>
  <p>
    <a href="/code-samples/index.html"></a>プレーヤーをカスタマイズできるコードサンプルの豊富なリストをチェックしてください。
  </p>
  <p>Brightcove Playerバージョン：</p>
  <p>
    現在: <a href="/release-notes/brightcove-player-release-notes.html">v6.57.1</a> </p>
  <p>
    プレリリース:<a href="/release-notes/brightcove-player-prerelease-notes.html">なし</a>  </p>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %} <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">
      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in section.docs limit:4 %} <li><a href="{{ doc.url }}">{{ doc.name }}</a></li> {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">すべて表示...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>