---
title: AMPホーム
parent: amp 
section: AMP
description: "Accelerated Mobile Pages (AMP) can be used with Brightcove Player. This page links to the two possibilities of using Brightcove Player, with a Video Cloud video or an external video."
---
<article class="landing-page-wrapper">
    <h1>{{ page.title }}</h1>
    <section class="landing-page-header" id="landing_page_header">
        <p>{{ page.description }}</p>
        <p>AMP はオープンソースの HTML フレームワークで、高速かつスムーズな読み込みが可能で、ユーザーエクスペリエンスに優先順位を付ける Web ページを簡単に作成できます。詳細については、<a href="https://amp.dev/"> AMPのサイトを参照してください</a>。</p>
    </section>
    <section class="card-wrapper">
        {% for item in site.data.navigation %} {% if item.name == page.section %}
        <section class="bcls-card">
            <div class="card-content">
                <h2 class="landing-page-item-header">{{ item.name }}トピックス</h2>
                <ul class=" class="bcls-topic-list"">
                    {% for entry in item.docs %}
                    <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %} {% endfor %}
    </section>
</article>